# Assign weights to each feature that should be used to calculate the orality score.
# Positive values correspond to indicators of orality, negative values to indicators of literal language.
# Features and weights are given as key-value pairs, separated by spaces and a colon.

mean_word : -0.819 
PRON1st : 0.717 
V:N : 0.528
DEMshort : 0.365
subord : -0.314 
INTERJ : 0.276 
DEM : 0.06 
PTC : 0.104 
lexDens : -0